SUPABASE_URL=https://afkdbmntchllpucshuxe.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_hcSXiIzp3jSeByl6pfu75Q_FkgUQjpi
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://afkdbmntchllpucshuxe.supabase.co/auth/v1/.well-known/jwks.json
DATABASE_URL=postgresql://postgres:[YOUR-PASSWORD]@db.afkdbmntchllpucshuxe.supabase.co:5432/postgres
GEMINI_API_KEY=